.logo{
    width: 100px;
    height: 100px;  
}
.item{
    display: flex;
    justify-content: space-evenly;
}
.bai{
    font-size: 30px;
    
}
.ti{
    height: 660px;
    
}
.app{
    font-size: 30px;
}

.d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app1{
    font-size: 60px;
}
.gau{
    height: 530px;
}
