.h{
    width: 500px;
}
.t{
    display: inline-block;
}

.m{
    font-size: 30px;
}
.logo{
    width: 100px;
    height: 100px;  
}
.ls{
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
}